* {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Roboto';
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
}

.calendar_wrap {
    padding: 30px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color:silver;
    border-radius: 0 0 15px 15px;
}

.calendar_top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.calendar_top button {
    margin: 0 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #358b3a;
    color: white;
    cursor: pointer;
}

.calendar_top span {
    margin: 0 5px;
    font-size: 20px;
    font-weight: 700;
}

.calendar_weekdays, .calendar_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style-type: none;
    text-align: center;
}

.calendar_weekdays, .calendar_days li {
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}

.current-day {
    background-color: aliceblue;

}

.search-day {
    color: white;
    background-color: darkolivegreen;
}

.calendar__search_wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 15px 15px 0 0;
}

.calendar__search_wrap span {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.calendar__search_wrap .calendar__search {
    width: 100%;
}

.calendar__search_wrap .message {
    display: none;
    margin-bottom: 0;
    font-size: 14px;
}

.calendar__search_wrap .message.show {
    display: block;
    margin-top: 10px;
}

.calendar__search_wrap .message.error {
    color: red;
}

.calendar__search_wrap .message.correct {
    color: green;
}






